<div data-role="header">
    <a href="#" data-icon="back" class="back ui-btn-left">{{back}}</a>
    <h1>{{page2}}</h1>
</div>

<div data-role="content">
    <p>{{page2Text}}</p>
    <p>{{navigationLabel}}</p>
    <ul data-role="listview" data-inset="true">
        <li><a href="#">{{home}}</a></li>
        <li><a href="#page1">{{page1}}</a></li>
    </ul>
</div>