<div class="ui-bar ui-bar-b">
	<h3> {{this.title}} </h3>
	<span id="info_{{this.questionId}}" class="question-info"/>
</div>
<div id="answers_{{this.questionId}}">
</div>
<div id="desc_{{this.questionId}}" class="description">
	{{#each description}}
		<pre>{{this}}</pre>
	{{/each}}
</div>
<br/>